.BackGround {
    display: grid;
    border: 2px solid black;
    border-radius: 13px;
    height: 646px;
    width: 301px;
    grid-template-rows: 50px 80px 310px 140px;
    justify-items: center;
  }
  
  .Nutris {
    max-width: 82%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .Nutris::-webkit-scrollbar{
    display: none;
  }
  
  .Nutri {
    background-color: #5F00AA;
    width: 245px;
    height: 192px;
    border-radius: 15px;
    margin-top: 10px;
    flex:none;
    justify-content: center;
  }
  
  .Nutri button img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  