.BackGround {
  display: grid;
  border: 2px solid black;
  border-radius: 13px;
  height: 646px;
  width: 301px;
  grid-template-rows: 50px 80px 310px 140px;
  justify-items: center;
}

.Treinos {
  max-width: 81%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.Treinos::-webkit-scrollbar{
  display: none;
}

.Treino {
  border-radius: 15px;
  margin-top: 10px;
  flex:none;
  justify-content: center;
}

.Treino button img{
  width: 245px;
  height: 200px;
  object-fit: cover;
}
